<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="form/css/style.css">

    <!-- Google Material Symbols -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@1" rel="stylesheet" />

    <!-- Preload Assets -->
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@1" as="style">
    <link rel="preload" href="/assets/svg/line_icon.svg" as="image" type="image/svg+xml">
    <link rel="preload" href="/assets/images/human_structrue_organs_chatgpt.png" as="image" type="image/png">
</head>

<body class="bg-slate-950 min-h-screen">

    <div x-data="formApp()" class="max-w-sm mx-auto p-4 min-h-screen flex flex-col justify-center">
        {% from 'form/parts/macros.html' import card_header, footer_button, text_input, small_text_input, error_display %}
        {% set step_keys = ['auth', 'pair', 'symptoms', 'review'] %}
        {% for key in step_keys %}
        <div class="contents" x-data="{ i: {{ loop.index0 }}, get step() { return this.steps[this.i] }}">

            <div class="flex items-stretch gap-1 shrink-0">
                <!-- Node -->
                <div data-flip class="overflow-hidden" :class="nodeClasses(i)">

                    <!-- Incomplete: gery circle, empty -->
                    <template x-if="i !== currentStep && !step.completed">
                        <div></div>
                    </template>

                    <!-- Current: expanded card. or Completed: summary.
                            Each is in their own respected /parts/file, because the
                            implementation varies wildly -->
                    {% include "form/parts/" ~ key ~ ".html" %}

                </div>

                <!-- Sibling button: for some completed nodes -->
                <button data-flip
                        x-show="step.completed && i !== currentStep"
                        x-data="{ edit: false }"
                        @click="edit = true; jumpTo(i);"
                        class="px-4 rounded-s-lg rounded-e-[2rem] transition-all duration-200 ease-spring
                            active:rounded-s-[2rem] active:px-6"
                        :class="{
                            'text-red-400 bg-red-950': step.key === 'auth',
                            'text-blue-400 bg-blue-950': step.key !== 'auth',
                            'rounded-s-[2rem]': edit
                            }">

                    <span class="flex items-center material-symbols-rounded select-none"
                          x-text="step.key === 'auth' ? 'logout' : 'edit'"></span>
                </button>
            </div>

            <!-- Node links -->
            <div data-flip
                 x-show="i < steps.length - 1"
                 class="w-1 max-h-[40px] ml-[38px] transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]"
                 :class="{
                    'h-[4px]': currentStep === 3,
                    'flex-1': currentStep !== 3,
                    'bg-blue-900': step.completed,
                    'bg-slate-900': !step.completed
                }">
            </div>

        </div>
        {% endfor %}
    </div>

    <!-- Session data injected from Flask -->
    <script>
        window.doctorInfo = {{ doctor_info | tojson | safe if doctor_info  else 'null' }};
        window.pairingInfo = {{ pairing_info | tojson | safe if pairing_info else 'null' }};
    </script>

    <!-- Custom JS, order matters -->
    <script src="form/js/flip.js"></script>
    <script src="form/js/state.js"></script>
    <script src="form/js/app.js"></script>

    <!-- Alpine.js Core -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

</body>

</html>